html
    head
        title Library Manager
        link(rel='stylesheet', href="/static/stylesheets/style.css", type='text/css')
    body
        include ./partials/_nav.pug
        h1 Patrons
        p
            a.button(href="/all_patrons/new_patron") Create New Patron
        table
            thead
                tr
                    th Name
                    th Address
                    th Email
                    th Library ID
                    th Zip
            tbody
            each patron in patrons
                tr
                    td
                        a(href="/all_patrons/patron_detail/" + patron.id)
                            =patron.first_name + " " + patron.last_name
                    td
                        =patron.address
                    td
                        =patron.email
                    td
                        =patron.library_id
                    td
                        =patron.zip_code


