html
    head
        title Library Manager
        link(rel='stylesheet', href="/static/stylesheets/style.css", type='text/css')
    body
        //TODO: Fix Menu Routes
        include ./partials/_nav.pug
        h1 Loans
        p
            a.button(href="../new_loan") Create New Loan
        include ./partials/_loan_nav.pug
        table
            thead
                tr
                    th Book
                    th Patron
                    th Loaned On
                    th Return By
                    th Returned On
                    th Action
            tbody
                tr
                    td
                        a(href="/all_books/book_detail") Emma
                    td
                        a(href="/all_patrons/patron_detail") Dave McFarland
                    td 2015-12-10
                    td 2020-10-20
                    td
                    td
                        a.button(href="/all_books/return_book") Return Book



