html
    head
        title A Brief History of Time
        link(rel='stylesheet', href="/static/stylesheets/style.css", type='text/css')
    body
        include ./partials/_nav.pug
        h1 Book: A Brief History of Time
        form(action="/all_books/book_detail/" + book.id + "?_method=PUT", method="post")
            p
                label.for("title") Title
                input#title(type="text", name="title" value=book.title)
            p
                label.for("author") Author
                input#author(type="text", name="author" value=book.author)
            p
                label.for("genre") Genre
                input#genre(type="text", name="genre" value=book.genre)
            p
                label.for("first_published") First Published
                input#first_published(type="text",name="first_published" value=book.first_published)
            p
                input(type='submit', value="Update")
        h2 Loan History
        table
            thead
                tr
                    th Book
                    th Patron
                    th Loaned On
                    th Return By
                    th Returned On
                    th Action
            tbody
            each loan in loans
                tr
                    td
                        a(href="/all_books/book_detail/" + loan.book_id)
                            =loan.Book.title
                    td
                        a(href="../patron_detail/" + loan.patron_id)
                            =loan.Patron.first_name + " " + loan.Patron.last_name
                    td
                        =loan.loaned_on
                    td
                        =loan.return_by
                    td
                        =loan.returned_on
                    td
                        a.button(href="/all_books/return_book/" + loan.book_id) Return Book



