html
    head
        title A Brief History of Time
        link(rel='stylesheet', href="/static/stylesheets/style.css", type='text/css')
    body
        //TODO: Fix Menu Routes
        include ./partials/_nav.pug
        h1 Book: A Brief History of Time
        form
            p
                label.for("title") Title
                input(id="title", type="text", value=book.title)
            p
                label.for("author") Author
                input(id="author", type="text", value=book.author)
            p
                label.for("genre") Genre
                input(id="genre", type="text", value=book.genre)
            p
                label.for("first_published") First Published
                input(id="first_published", type="text", value=book.first_published)
        h2 Loan History
        table
            thead
                tr
                    th Book
                    th Patron
                    th Loaned On
                    th Return By
                    th Returned On
                    th Action
            tbody
            each loan in loans
                tr
                    td
                        a(href="/all_books/book_detail/" + loan.book_id)
                            =loan.Book.title
                    td
                        a(href="../patron_detail/" + loan.patron_id)
                            =loan.Patron.first_name + " " + loan.Patron.last_name
                    td
                        =loan.loaned_on
                    td
                        =loan.return_by
                    td
                        =loan.returned_on
                    td
                        a.button(href="../return_book") Return Book



