html
    head
        title Checked Out Books
        link(rel='stylesheet', href="/static/stylesheets/style.css", type='text/css')
    body
        //TODO: Fix Menu Routes
        include ./partials/_nav.pug
        h1 Loans
        p
            a.button(href="../new_loan.html") Create New Loan
        include ./partials/_loan_nav.pug
        table
            thead
                tr
                    th Book
                    th Patron
                    th Loaned On
                    th Return By
                    th Action
            tbody
            each loan in loans
                tr
                    td
                        a(href="/all_books/book_detail/" + loan.book_id)
                            =loan.Book.title
                    td
                        a(href="/all_patrons/patron_detail/" + loan.patron_id)
                            =loan.Patron.first_name + " " + loan.Patron.last_name
                    td
                        =loan.loaned_on
                    td
                        =loan.return_by
                    td
                        a.button(href="/all_books/return_book") Return Book

