html
    head
        title Books
        link(rel='stylesheet', href="/static/stylesheets/style.css", type='text/css')
    body
        //TODO: Fix Menu Routes
        include ./partials/_nav.pug
        h1 Checked Out Books
        p
            a.button(href="/new_book") Create New Book
        p Filters &nbsp;
            a(href="/all_books") All&nbsp;
            | |
            a(href="/overdue_books") &nbsp;Overdue&nbsp;
            | |
            a(href="/checked_books") &nbsp;Checked Out
        table
            thead
                tr
                    th Title
                    th Author
                    th Genre
                    th Year Released
            tbody
                tr
                    td
                        a(href="book_detail") Emma
                    td Jane Austen
                    td Classic
                    td 1815
