html
    head
        title Overdue Loans
        link(rel='stylesheet', href="/static/stylesheets/style.css", type='text/css')
    body
        //TODO: Fix Menu Routes
        include ./partials/_nav.pug
        h1 Loans
        p
            a.button(href="../new_loan.html") Create New Loan
        p Filters &nbsp;
            a(href="/all_loans") All&nbsp;
            | |
            a(href="/overdue_loans") &nbsp;Overdue&nbsp;
            | |
            a(href="/checked_loans") &nbsp;Checked Out
        table
            thead
                tr
                    th Book
                    th Patron
                    th Loaned On
                    th Return By
                    th Returned On
                    th Action
            tbody
                tr
                    td
                        a(href="/book_detail") Harry Potter and the Goblet of Fire
                    td
                        a(href="/patron_detail") Andrew Chalkley
                    td 2015-12-11
                    td 2015-12-18
                    td
                    td
                        a.button(href="/return_book") Return Book
